/* ビット文字のダウンロード部分 */
@font-face {
    font-family: 'PixelMplus';
    src: url(../fonts/PixelMplus10-Bold.ttf) format('truetype');
}

/* スタート画面、ゲーム画面、リザルト画面を最初は透明にして、移り変わりの速度を設定している */
.screen {
    /* display: none; */
    position: absolute;
    inset: 0;
    opacity: 0;
    /* image-rendering: pixelated; */
    /* これはクリックしても何も反応しない様にしてる。透明な状態のままだと、
    何もないところをクリックしたら反応する可能性があるから */
    pointer-events: none;
    transition: opacity 0.2s steps(10);
    z-index: 10px;
}

/* js上で.activeをスクリーンにつけたら透明度が１になって表示される様に操作している */
.screen.active {
    /* display: block; */
    opacity: 1;
    pointer-events: auto;
}

body {
    background-image: url('../img/background/battle.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'PixelMplus';
    background-position: center;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

.title1 {
    font-size: 100px;
}

