/* 画面（カメラ）のサイズ */
.view {
    left: 50%;
    top: 50%;
    width: 480px;
    /* 好きなサイズに調整 */
    height: 320px;
    border: 2px solid #333;
    position: absolute;
    overflow: hidden;
    /* はみ出したマップは見せない */
    transform: translate(-50%, -50%);
}

/* マップ本体（大きい） */
.map {
    width: 1728px;
    height: 1024px;
    background-image: url("../img/background/map1.png");
    /* 自分のマップ画像に差し替え */
    background-size: cover;
    position: absolute;
}

/* プレイヤー（画面中央に固定） */
.player {
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/player.png");
    /* 本当はキャラのドット絵に差し替え */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* 完全に中央 */
    z-index: 1000;
    /* マップの上に表示 */
}