/* ビット文字のダウンロード部分 */
@font-face {
    font-family: 'PixelMplus';
    src: url(../fonts/PixelMplus10-Bold.ttf) format('truetype');
}

/* スタート画面、ゲーム画面、リザルト画面を最初は透明にして、移り変わりの速度を設定している */
.screen {
    /* display: none; */
    position: absolute;
    inset: 0;
    opacity: 0;
    /* image-rendering: pixelated; */
    /* これはクリックしても何も反応しない様にしてる。透明な状態のままだと、
    何もないところをクリックしたら反応する可能性があるから */
    pointer-events: none;
    transition: opacity 0.2s steps(10);
    z-index: 10px;
}

/* js上で.activeをスクリーンにつけたら透明度が１になって表示される様に操作している */
.screen.active {
    /* display: block; */
    opacity: 1;
    pointer-events: auto;
}

body {
    background-image: url('../img/background/battle.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'PixelMplus';
    background-position: center;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

.title1 {
    font-size: 100px;
}
.flashImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* opacityはどれくらい透けて見えるかが指定される */
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 9999;
    pointer-events: none;
    width: 100%;
    height: 100%;
}

.flashImage.show {
    opacity: 1;
}


.hidden {
    opacity: 0;
    pointer-events: none;
}

.enemy {
    text-align: right;
    margin-right: 200px;
    align-items: flex-end;
    margin-bottom: 0;
}

.statusopp {
    padding-bottom: 0;
    height: 30px;
}

.nameopp {
    display: flex;
    justify-content: right;
    align-items: flex-end;
    height: 52.5px;
}

.infoopp {
    display: grid;
    grid-template-columns: 300px 100px;
    align-items: flex-start;
    justify-content: right;
    text-align: center;

}

.hpnumberopp {
    margin-top: 2px;
}

.hpopp {
    width: 300px;
    height: 25px;
    /* 範囲を超える部分は隠すように規定 */
    overflow: hidden;
    border: 3px solid #000;
    box-shadow: 0 2px 0 #000;
    border-radius: 10px;
    margin-top: 0px;
}

.hpcontentopp {
    height: 100%;
    width: 100%;
    /* ゲージの中の色が赤色のグラデーションになるように規定 */
    background: linear-gradient(90deg, #ff4444, #ff8888);
    transition: width 0.5s;
    margin-top: 0px;
}

.nameuser {
    display: flex;
    align-items: flex-end;
}

.statusuer {
    padding-bottom: 0;
    height: 30px;
    margin-left: 30px;
}

.friend {
    text-align: left;
    margin-left: 10px;
    align-items: flex-end;
    margin-bottom: 0;
    padding-right: 60px;
}

.pokeball {
    width: 30px;
    height: 30px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.infouser {
    display: grid;
    grid-template-columns: 300px 100px;
    align-items: flex-start;
    justify-content: left;
    text-align: center;
}

.hpuser {
    width: 300px;
    height: 25px;
    /* 範囲を超える部分は隠すように規定 */
    overflow: hidden;
    border: 3px solid #000;
    box-shadow: 0 2px 0 #000;
    border-radius: 10px;
}

.hpcontentuser {
    height: 100%;
    width: 100%;
    /* ゲージの中の色が赤色のグラデーションになるように規定 */
    background: linear-gradient(90deg, #ff4444, #ff8888);
    transition: width 0.5s;
}

.hpnumberuser {
    margin-top: 2px;
}


.image {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}



.userpokemon {
    transform: scaleX(-1);
    width: 320px;
    height: 320px;
}

.opppokemon {
    width: 320px;
    height: 320px;
}

.buttons {
    margin-left: 60px;
    width: 750px;
    height: 240px;
}

.option:hover {
    background: #222;
}

.option:active {
    background: #444;
}

.options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
}

.options.hidden {
    display: none;
}

.option {
    background: #000;
    color: #fff;
    padding: 10px 20px;
    font-family: 'PixelMplus', sans-serif;
    border: 3px solid #fff;
    box-shadow: 0 0 0 3px #000 inset;
    cursor: pointer;
    font-size: 12px;
    width: 375px;
    height: 100px;
    font-size: 30px;
}

.movebox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
}

.movebox.hidden {
    display: none;
}

.move {
    background: #000;
    color: #fff;
    padding: 10px 20px;
    font-family: 'PixelMplus', sans-serif;
    border: 3px solid #fff;
    box-shadow: 0 0 0 3px #000 inset;
    cursor: pointer;
    font-size: 12px;
    width: 375px;
    height: 100px;
    font-size: 30px;
}

.move:hover {
    background: #222;
}

.move:active {
    background: #444;
}

.pokemonbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.pokemon {
    background: #000;
    color: #fff;
    padding: 10px 20px;
    font-family: 'PixelMplus', sans-serif;
    border: 3px solid #fff;
    box-shadow: 0 0 0 3px #000 inset;
    cursor: pointer;
    font-size: 12px;
    width: 375px;
    height: 70px;
    font-size: 30px;
    margin-bottom: 10px;
}
.pokemon:hover {
    background: #222;
}

.pokemon:active {
    background: #444;
}

.pokemon.hidden {
    display: none;
}
.toolbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10px;
}
.tool {
    background: #000;
    color: #fff;
    padding: 10px 20px;
    font-family: 'PixelMplus', sans-serif;
    border: 3px solid #fff;
    box-shadow: 0 0 0 3px #000 inset;
    cursor: pointer;
    font-size: 12px;
    width: 375px;
    height: 70px;
    font-size: 30px;
}
.tool:hover {
    background: #222;
}

.tool:active {
    background: #444;
}

.tool.hidden {
    display: none;
}

.control {
    margin-top: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.explanation {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 240px;
    width: 520px;
    margin: 0 auto;
    display: flex;
    margin-right: 50px;
}
